<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sonic_trans1</key>
	<dict>
		<key>y</key>
		<integer>19</integer>
		<key>x</key>
		<integer>17</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_trans2</key>
	<dict>
		<key>y</key>
		<integer>19</integer>
		<key>x</key>
		<integer>53</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_trans3</key>
	<dict>
		<key>y</key>
		<integer>19</integer>
		<key>x</key>
		<integer>98</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_trans4</key>
	<dict>
		<key>y</key>
		<integer>19</integer>
		<key>x</key>
		<integer>147</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_trans5</key>
	<dict>
		<key>y</key>
		<integer>19</integer>
		<key>x</key>
		<integer>190</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_trans6</key>
	<dict>
		<key>y</key>
		<integer>19</integer>
		<key>x</key>
		<integer>239</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_trans7</key>
	<dict>
		<key>y</key>
		<integer>19</integer>
		<key>x</key>
		<integer>283</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_trans8</key>
	<dict>
		<key>y</key>
		<integer>19</integer>
		<key>x</key>
		<integer>327</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_trans9</key>
	<dict>
		<key>y</key>
		<integer>19</integer>
		<key>x</key>
		<integer>368</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_trans10</key>
	<dict>
		<key>y</key>
		<integer>19</integer>
		<key>x</key>
		<integer>410</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_trans11</key>
	<dict>
		<key>y</key>
		<integer>19</integer>
		<key>x</key>
		<integer>454</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_trans12</key>
	<dict>
		<key>y</key>
		<integer>85</integer>
		<key>x</key>
		<integer>23</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_trans13</key>
	<dict>
		<key>y</key>
		<integer>85</integer>
		<key>x</key>
		<integer>70</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_trans14</key>
	<dict>
		<key>y</key>
		<integer>85</integer>
		<key>x</key>
		<integer>117</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_trans15</key>
	<dict>
		<key>y</key>
		<integer>85</integer>
		<key>x</key>
		<integer>161</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_trans16</key>
	<dict>
		<key>y</key>
		<integer>85</integer>
		<key>x</key>
		<integer>208</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic1</key>
	<dict>
		<key>y</key>
		<integer>145</integer>
		<key>x</key>
		<integer>15</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic2</key>
	<dict>
		<key>y</key>
		<integer>145</integer>
		<key>x</key>
		<integer>52</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic3</key>
	<dict>
		<key>y</key>
		<integer>145</integer>
		<key>x</key>
		<integer>90</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic4</key>
	<dict>
		<key>y</key>
		<integer>145</integer>
		<key>x</key>
		<integer>125</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic5</key>
	<dict>
		<key>y</key>
		<integer>145</integer>
		<key>x</key>
		<integer>160</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic6</key>
	<dict>
		<key>y</key>
		<integer>145</integer>
		<key>x</key>
		<integer>194</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic7</key>
	<dict>
		<key>y</key>
		<integer>145</integer>
		<key>x</key>
		<integer>226</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_run1</key>
	<dict>
		<key>y</key>
		<integer>203</integer>
		<key>x</key>
		<integer>20</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_run2</key>
	<dict>
		<key>y</key>
		<integer>203</integer>
		<key>x</key>
		<integer>69</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_run3</key>
	<dict>
		<key>y</key>
		<integer>203</integer>
		<key>x</key>
		<integer>120</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_run4</key>
	<dict>
		<key>y</key>
		<integer>203</integer>
		<key>x</key>
		<integer>172</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_run5</key>
	<dict>
		<key>y</key>
		<integer>203</integer>
		<key>x</key>
		<integer>217</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_run6</key>
	<dict>
		<key>y</key>
		<integer>203</integer>
		<key>x</key>
		<integer>257</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_run7</key>
	<dict>
		<key>y</key>
		<integer>203</integer>
		<key>x</key>
		<integer>305</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_run8</key>
	<dict>
		<key>y</key>
		<integer>203</integer>
		<key>x</key>
		<integer>350</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_run_up1</key>
	<dict>
		<key>y</key>
		<integer>274</integer>
		<key>x</key>
		<integer>19</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>54</integer>
	</dict>
	<key>sonic_run_up2</key>
	<dict>
		<key>y</key>
		<integer>274</integer>
		<key>x</key>
		<integer>80</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>54</integer>
	</dict>
	<key>sonic_run_up3</key>
	<dict>
		<key>y</key>
		<integer>274</integer>
		<key>x</key>
		<integer>139</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>54</integer>
	</dict>
	<key>sonic_run_up4</key>
	<dict>
		<key>y</key>
		<integer>274</integer>
		<key>x</key>
		<integer>191</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>54</integer>
	</dict>
	<key>sonic_run_up5</key>
	<dict>
		<key>y</key>
		<integer>274</integer>
		<key>x</key>
		<integer>245</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>54</integer>
	</dict>
	<key>sonic_run_up6</key>
	<dict>
		<key>y</key>
		<integer>300</integer>
		<key>x</key>
		<integer>268</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>54</integer>
	</dict>
	<key>sonic_fly1</key>
	<dict>
		<key>y</key>
		<integer>344</integer>
		<key>x</key>
		<integer>21</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_fly2</key>
	<dict>
		<key>y</key>
		<integer>344</integer>
		<key>x</key>
		<integer>80</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_fly3</key>
	<dict>
		<key>y</key>
		<integer>344</integer>
		<key>x</key>
		<integer>133</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_fly4</key>
	<dict>
		<key>y</key>
		<integer>344</integer>
		<key>x</key>
		<integer>187</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_fly_up1</key>
	<dict>
		<key>y</key>
		<integer>344</integer>
		<key>x</key>
		<integer>239</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_fly_up2</key>
	<dict>
		<key>y</key>
		<integer>344</integer>
		<key>x</key>
		<integer>294</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_fly_up3</key>
	<dict>
		<key>y</key>
		<integer>344</integer>
		<key>x</key>
		<integer>348</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_push1</key>
	<dict>
		<key>y</key>
		<integer>409</integer>
		<key>x</key>
		<integer>25</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_push2</key>
	<dict>
		<key>y</key>
		<integer>407</integer>
		<key>x</key>
		<integer>70</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_push3</key>
	<dict>
		<key>y</key>
		<integer>407</integer>
		<key>x</key>
		<integer>115</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_push4</key>
	<dict>
		<key>y</key>
		<integer>403</integer>
		<key>x</key>
		<integer>160</integer>
		<key>height</key>
		<integer>56</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_down1</key>
	<dict>
		<key>y</key>
		<integer>472</integer>
		<key>x</key>
		<integer>12</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_down2</key>
	<dict>
		<key>y</key>
		<integer>472</integer>
		<key>x</key>
		<integer>58</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_down3</key>
	<dict>
		<key>y</key>
		<integer>472</integer>
		<key>x</key>
		<integer>105</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_down4</key>
	<dict>
		<key>y</key>
		<integer>471</integer>
		<key>x</key>
		<integer>146</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_down5</key>
	<dict>
		<key>y</key>
		<integer>471</integer>
		<key>x</key>
		<integer>190</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_charge1</key>
	<dict>
		<key>y</key>
		<integer>471</integer>
		<key>x</key>
		<integer>231</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>55</integer>
	</dict>
	<key>sonic_charge2</key>
	<dict>
		<key>y</key>
		<integer>471</integer>
		<key>x</key>
		<integer>287</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>55</integer>
	</dict>
	<key>sonic_charge3</key>
	<dict>
		<key>y</key>
		<integer>471</integer>
		<key>x</key>
		<integer>345</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>55</integer>
	</dict>
	<key>sonic_charge4</key>
	<dict>
		<key>y</key>
		<integer>471</integer>
		<key>x</key>
		<integer>407</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>55</integer>
	</dict>
	<key>sonic_charge5</key>
	<dict>
		<key>y</key>
		<integer>522</integer>
		<key>x</key>
		<integer>18</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>55</integer>
	</dict>
	<key>sonic_wheel1</key>
	<dict>
		<key>y</key>
		<integer>522</integer>
		<key>x</key>
		<integer>90</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_wheel2</key>
	<dict>
		<key>y</key>
		<integer>522</integer>
		<key>x</key>
		<integer>129</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_wheel3</key>
	<dict>
		<key>y</key>
		<integer>522</integer>
		<key>x</key>
		<integer>178</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_wheel4</key>
	<dict>
		<key>y</key>
		<integer>522</integer>
		<key>x</key>
		<integer>222</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
	<key>sonic_wheel5</key>
	<dict>
		<key>y</key>
		<integer>522</integer>
		<key>x</key>
		<integer>265</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
	</dict>
</dict>
</plist>
